# Merging prices data with species data with climate data

In [1]:
import pandas as pd
import numpy as np

In [3]:
df_prices_producer = pd.read_csv(r"C:\Users\sofia\Documents\Data_Analytics_Ironhack\Projects\ironhack_final_project\Worked_datasets\preco_no_produtor.csv")

df_prices_producer.head()

,categoria,produtos_agricolas,unidade,Ano,Preco
0,Plantas Industriais,Cana-de-açúcar,Euro/100 kg,2010,25.00
1,Vegetais e Produtos Hortícolas,Alface,Euro/100 kg,2010,206.53
2,Vegetais e Produtos Hortícolas,Couve repolho,Euro/100 kg,2010,65.01
3,Vegetais e Produtos Hortícolas,Tomate,Euro/100 kg,2010,114.38
4,Vegetais e Produtos Hortícolas,Cenoura,Euro/100 kg,2010,117.68

In [7]:
df_prodction_by_product = pd.read_csv(r"C:\Users\sofia\Documents\Data_Analytics_Ironhack\Projects\ironhack_final_project\Worked_datasets\prod_madeira_2019_2024.csv")

df_prodction_by_product.head()

   Cultura   Ano  Superfície    Produção
0  Abacate  2019   50.394000  415.368722
1  Abacate  2020   50.394000  461.783317
2  Abacate  2021   50.394000  490.101632
3  Abacate  2022   51.000000  498.000000
4  Abacate  2023   51.153123  475.000000

In [11]:
df_prodction_by_product.nunique()

Cultura        35
Ano             6
Superfície    116
Produção      189
dtype: int64

In [5]:
df_products_scores = pd.read_csv(r"C:\Users\sofia\Documents\Data_Analytics_Ironhack\Projects\ironhack_final_project\Worked_datasets\species_scored.csv")   
df_products_scores.head()

,cultura,nome_científico,família,germinacao_Tmin,germinacao_Totima,germincacao_Tmáxima,vegetacao_Tmin,vegetacao_Toptima,vegetacao_Tmax,tolerancia_salinidade,...,notas_principais,solo_pref_cat,sol_fotoperiodo_cat,necessidade_hidrica_num,tolerancia_acidez_num,tolerancia_salinidade_num,ph_min,ph_max,sol_min,score_agro
0,Abóbora,Curcubita sp.,Curcubitaceae,7.5,32.5,38.0,10,22.5,32.0,moderada,...,Não tolera geadas; gosta de calor,1.0,3.0,2.0,2.0,2.0,6.0,6.8,6.0,1.00
1,Banana,"Musa acuminata × Musa balbisiana (AA–AAA, etc.)",Musaceae,NaN,NaN,NaN,15,28.0,35.0,moderada,...,Sensível ao vento forte,2.0,3.0,NaN,2.0,2.0,5.5,7.5,8.0,1.00
2,Batata,Solanum tuberosum,Solanaceae,3.5,19.0,NaN,7,20.0,32.5,moderada,...,Não gosta de solos encharcados,1.0,NaN,2.0,NaN,2.0,5.5,6.0,6.0,1.00
3,Batata-doce,Ipomoea batatas,Convolvulaceae,15.0,27.5,38.0,15,23.5,35.0,moderada,...,"Tolerante à seca, mas prefere calor",1.0,3.0,1.0,2.0,2.0,5.5,6.5,6.0,0.75
4,Cana-de-açúcar,Saccharum officinarum,Poaceae,18.0,30.0,38.0,18,27.5,36.5,NaN,...,Cultura de clima tropical/subtropical,2.0,3.0,NaN,1.0,NaN,6.0,7.5,8.0,1.00

In [39]:
df_products_scores.columns.tolist()

['cultura',
 'nome_científico',
 'família',
 'germinacao_Tmin',
 'germinacao_Totima',
 'germincacao_Tmáxima',
 'vegetacao_Tmin',
 'vegetacao_Toptima',
 'vegetacao_Tmax',
 'tolerancia_salinidade',
 'intervalo_otimp_pH',
 'tolerancia_acidez',
 'solo_preferido',
 'sol_fotoperíodo',
 'clima_ideal _°C',
 'necessidade_hidrica',
 'notas_principais',
 'solo_pref_cat',
 'sol_fotoperiodo_cat',
 'necessidade_hidrica_num',
 'tolerancia_acidez_num',
 'tolerancia_salinidade_num',
 'ph_min',
 'ph_max',
 'sol_min',
 'score_agro',
 'cultura_norm']

In [40]:
import re

def extract_sol_min(text):
    if pd.isna(text):
        return None
    # procurar número antes de "h" (ex: "≥ 6h", "8h", "6–8h")
    match = re.findall(r"(\d+)", str(text))
    if match:
        return float(match[0])  # pega no primeiro número
    return None

df_products_scores["sol_min"] = df_products_scores["sol_fotoperíodo"].apply(extract_sol_min)

In [14]:
print("Preços:", df_prices_producer["cultura"].unique()[:30])
print("Produção:", df_prodction_by_product["Cultura"].unique()[:30])

Preços: ['Cana-de-açúcar' 'Alface' 'Couve-repolho' 'Tomate ' 'Cenoura'
 'Feijão-verde' 'Cebola' 'Pepino' 'Pimento' 'Courgette' 'Nabo' 'Abóbora'
 'Acelga' 'Pimpinela' 'Rosa' 'Cravo' 'Gerbera' 'Estrelícia' 'Antúrio'
 'Orquídea' 'Protea' 'Batata-primor' 'Batata-conservação' 'Maçãs'
 'Cerejas' 'Tangerinas' 'Limões' 'Banana' 'Abacate' 'Anona']
Produção: ['Abacate' 'Abóbora' 'Alface' 'Ameixa' 'Anona' 'Banana' 'Batata'
 'Batata-doce' 'Cana-de-açúcar' 'Castanha' 'Cebola' 'Cenoura' 'Cereja'
 'Couve-bróculo' 'Couve-flor' 'Couve-repolho' 'Fava em verde'
 'Feijão maduro' 'Feijão-verde' 'Inhame' 'Kiwi' 'Limão'
 'Macieiras regionais' 'Manga' 'Maracujá' 'Maçã' 'Milho p/maçaroca'
 'Morango' 'Nabo' 'Papaia']

In [41]:
print("=== Prices ===")
print(df_prices_producer["cultura_norm"].unique())

print("=== Produção ===")
print(df_prodction_by_product["cultura_norm"].unique())

print("=== Species ===")
print(df_products_scores["cultura_norm"].unique())

=== Prices ===
['cana-de-acucar' 'alface' 'couve-repolho' 'tomate' 'cenoura'
 'feijao-verde' 'cebola' 'pepino' 'pimento' 'courgette' 'nabo' 'abobora'
 'acelga' 'pimpinela-chuchu' 'rosa' 'cravo' 'gerbera' 'estrelicia'
 'anturio' 'orquidea' 'protea' 'batata' 'batata-de-conservacao' 'maca'
 'cerejas' 'tangerina' 'limao' 'banana' 'abacate' 'anona' 'uva-vitis'
 'inhame' 'batata-doce' 'vinho-de-qualidade-do' 'ovos'
 'leite-de-vaca-a-teor-real' 'mel']
=== Produção ===
['abacate' 'abobora' 'alface' 'ameixa' 'anona' 'banana' 'batata'
 'batata-doce' 'cana-de-acucar' 'castanha' 'cebola' 'cenoura' 'cereja'
 'couve-broculo' 'couve-flor' 'couve-repolho' 'fava-em-verde'
 'feijao-maduro' 'feijao-verde' 'inhame' 'kiwi' 'limao' 'maca' 'manga'
 'maracuja' 'milho-p-macaroca' 'morango' 'nabo' 'papaia' 'pera'
 'pero-p-sidra' 'tangerina' 'tomate' 'uva-vitis']
=== Species ===
['abobora' 'banana' 'batata' 'batata-doce' 'cana-de-acucar' 'cebola'
 'couve-repolho' 'feijao-verde' 'milho-p-macaroca' 'uva-vitis' 'tomate'
 'alface' 'cenoura' 'pepino' 'pimento' 'courgette' 'nabo' 'acelga'
 'pimpinela-chuchu' 'maca' 'cereja' 'tangerina' 'limao' 'abacate' 'anona'
 'inhame']

In [42]:
import pandas as pd

# === 1. Normalizar nomes ===
def normalize_name(name):
    import re, unidecode
    if pd.isna(name):
        return None
    name = str(name).lower().strip()
    name = unidecode.unidecode(name)
    name = re.sub(r"[^a-z0-9]+", "-", name)  # substitui espaços e símbolos por "-"
    return name.strip("-")

df_prices_producer["cultura_norm"] = df_prices_producer["produtos_agricolas"].apply(normalize_name)
df_prodction_by_product["cultura_norm"]   = df_prodction_by_product["Cultura"].apply(normalize_name)
df_products_scores["cultura_norm"] = df_products_scores["cultura"].apply(normalize_name)

# === 2. Mapa de equivalências ===
mapa = {
    "batata-primor": "batata",
    "batata-conservacao": "batata",
    "macas": "maca",
    "macieiras-regionais": "maca",
    "uvas": "uva-vitis",
    "vinha-vitis-vinifera-a": "uva-vitis",
    "vinha-vitis-vinifera": "uva-vitis",
    "limoes": "limao",
    "tangerinas": "tangerina",
    "pimpinela": "pimpinela-chuchu",
    "milho-p-macaroca": "milho-p-macaroca",
}

for df in [df_prices_producer, df_prodction_by_product, df_products_scores]:
    df["cultura_norm"] = df["cultura_norm"].replace(mapa)


df_prices_producer["Ano"] = df_prices_producer["Ano"].astype(int)
df_prodction_by_product["Ano"]   = df_prodction_by_product["Ano"].astype(int)

# 2. Filtrar intervalo 2019–2024
df_prices_filtrado = df_prices_producer[df_prices_producer["Ano"].between(2019, 2024)]
df_prod_filtrado   = df_prodction_by_product[df_prodction_by_product["Ano"].between(2019, 2024)]

# === 3. Merge datasets ===
df_merged = (
    df_prices_filtrado
    .merge(df_prod_filtrado, on=["cultura_norm", "Ano"], how="inner")  # mantém só anos comuns
    .merge(df_products_scores, on="cultura_norm", how="left")
)

# === 4. Guardar dataset final ===
#df_merged.to_excel("dataset_final.xlsx", index=False)

print(df_merged.head(20))

                         categoria produtos_agricolas      unidade   Ano  \
0              Plantas Industriais     Cana-de-açúcar  Euro/100 kg  2019
1   Vegetais e Produtos Hortícolas             Alface  Euro/100 kg  2019
2   Vegetais e Produtos Hortícolas      Couve repolho  Euro/100 kg  2019
3   Vegetais e Produtos Hortícolas            Tomate   Euro/100 kg  2019
4   Vegetais e Produtos Hortícolas            Cenoura  Euro/100 kg  2019
5   Vegetais e Produtos Hortícolas       Feijão verde  Euro/100 kg  2019
6   Vegetais e Produtos Hortícolas             Cebola  Euro/100 kg  2019
7   Vegetais e Produtos Hortícolas               Nabo  Euro/100 kg  2019
8   Vegetais e Produtos Hortícolas            Abóbora  Euro/100 kg  2019
9                Batata de consumo      Batata primor  Euro/100 kg  2019
10                         Frutos               Maçãs  Euro/100 kg  2019
11                         Frutos          Tangerinas  Euro/100 kg  2019
12                         Frutos              Limões  Euro/100 kg  2019
13                         Frutos              Banana  Euro/100 kg  2019
14                         Frutos             Abacate  Euro/100 kg  2019
15                         Frutos               Anona  Euro/100 kg  2019
16                         Frutos                Uvas  Euro/100 kg  2019
17                         Frutos                Uvas  Euro/100 kg  2019
18        Outros produtos vegetais             Inhame  Euro/100 kg  2019
19        Outros produtos vegetais        Batata-doce  Euro/100 kg  2019

     Preco       cultura_x    cultura_norm                     Cultura  \
0    28.00  Cana-de-açúcar  cana-de-acucar              Cana-de-açúcar
1    95.87          Alface          alface                      Alface
2    53.95   Couve-repolho   couve-repolho               Couve-repolho
3    93.15         Tomate           tomate                      Tomate
4    81.82         Cenoura         cenoura                     Cenoura
5   217.18    Feijão-verde    feijao-verde                Feijão-verde
6    90.45          Cebola          cebola                      Cebola
7    99.36            Nabo            nabo                        Nabo
8   116.94         Abóbora         abobora                     Abóbora
9    55.31   Batata-primor          batata                      Batata
10  104.60           Maçãs            maca                        Maçã
11  169.00      Tangerinas       tangerina                   Tangerina
12   90.12          Limões           limao                       Limão
13   24.67          Banana          banana                      Banana
14  186.16         Abacate         abacate                     Abacate
15  205.19           Anona           anona                       Anona
16  108.39            Uvas       uva-vitis  Vinha (vitis vinifera) (a)
17  108.39            Uvas       uva-vitis  Vinha (vitis vinifera) (a)
18   83.95          Inhame          inhame                      Inhame
19   91.08     Batata-doce     batata-doce                 Batata-doce

    Superfície      Produção  ...  \
0    173.54000   9814.286187  ...
1     49.05000   1494.835047  ...
2    104.00000   3587.063742  ...
3     32.00000   1298.227412  ...
4     29.20000   1001.578582  ...
5    113.00000   2661.221604  ...
6    136.23000   4201.081600  ...
7     20.00000    690.000000  ...
8     77.00000   1548.407995  ...
9    897.61000  29448.135535  ...
10    31.52420    505.837651  ...
11    37.17435    425.095799  ...
12    63.47350    824.909849  ...
13   824.00040  22731.825176  ...
14    50.39400    415.368722  ...
15   116.79400   1444.298590  ...
16   442.00000  33515.710000  ...
17   442.00000  33515.710000  ...
18    24.00000    519.743596  ...
19   430.01000   9210.627795  ...

                                 notas_principais solo_pref_cat  \
0           Cultura de clima tropical/subtropical           2.0
1                                             NaN           NaN
2                            Prefere clima fresco           2.0
3                                             NaN           2.0
4                                             NaN           1.0
5            Sensível a geadas e excesso de calor           1.0
6   Requer fotoperíodo adequado para bulbificação           1.0
7                                             NaN           2.0
8               Não tolera geadas; gosta de calor           1.0
9                  Não gosta de solos encharcados           1.0
10                                            NaN           1.0
11                                            NaN           1.0
12                                            NaN           1.0
13                        Sensível ao vento forte           2.0
14                                            NaN           1.0
15                                            NaN           1.0
16    Estresse hídrico ligeiro favorece qualidade           NaN
17                                            NaN           NaN
18                                            NaN           1.0
19            Tolerante à seca, mas prefere calor           1.0

   sol_fotoperiodo_cat necessidade_hidrica_num  tolerancia_acidez_num  \
0                  3.0                     NaN                    1.0
1                  NaN                     2.0                    2.0
2                  1.0                     2.0                    NaN
3                  NaN                     NaN                    2.0
4                  NaN                     2.0                    NaN
5                  3.0                     2.0                    2.0
6                  3.0                     2.0                    NaN
7                  NaN                     2.0                    2.0
8                  3.0                     2.0                    2.0
9                  NaN                     2.0                    NaN
10                 3.0                     2.0                    2.0
11                 3.0                     2.0                    2.0
12                 3.0                     NaN                    2.0
13                 3.0                     NaN                    2.0
14                 3.0                     2.0                    2.0
15                 3.0                     2.0                    2.0
16                 3.0                     1.0                    2.0
17                 3.0                     1.0                    NaN
18                 NaN                     NaN                    NaN
19                 3.0                     1.0                    2.0

    tolerancia_salinidade_num  ph_min  ph_max  sol_min  score_agro
0                         NaN     6.0     7.5      8.0    1.000000
1                         NaN     6.0     7.0     10.0    1.000000
2                         2.0     6.5     7.5      NaN    0.666667
3                         2.0     6.0     6.8      6.0    1.000000
4                         NaN     6.0     6.8     10.0    1.000000
5                         NaN     6.0     6.5      6.0    1.000000
6                         NaN     6.0     7.0      6.0    1.000000
7                         NaN     6.0     7.5     10.0    1.000000
8                         2.0     6.0     6.8      6.0    1.000000
9                         2.0     5.5     6.0      6.0    1.000000
10                        NaN     5.5     7.0      6.0    1.000000
11                        2.0     5.5     7.0      8.0    1.000000
12                        2.0     5.5     7.0      8.0    1.000000
13                        2.0     5.5     7.5      8.0    1.000000
14                        2.0     5.5     7.0      6.0    1.000000
15                        NaN     5.5     7.0      6.0    1.000000
16                        2.0     6.0     7.5      8.0    0.750000
17                        2.0     6.0     7.5      8.0    0.750000
18                        NaN     5.5     6.5     12.0    1.000000
19                        2.0     5.5     6.5      6.0    0.750000

[20 rows x 37 columns]

In [43]:
df_merged.head()

,categoria,produtos_agricolas,unidade,Ano,Preco,cultura_x,cultura_norm,Cultura,Superfície,Produção,...,notas_principais,solo_pref_cat,sol_fotoperiodo_cat,necessidade_hidrica_num,tolerancia_acidez_num,tolerancia_salinidade_num,ph_min,ph_max,sol_min,score_agro
0,Plantas Industriais,Cana-de-açúcar,Euro/100 kg,2019,28.00,Cana-de-açúcar,cana-de-acucar,Cana-de-açúcar,173.54,9814.286187,...,Cultura de clima tropical/subtropical,2.0,3.0,NaN,1.0,NaN,6.0,7.5,8.0,1.000000
1,Vegetais e Produtos Hortícolas,Alface,Euro/100 kg,2019,95.87,Alface,alface,Alface,49.05,1494.835047,...,NaN,NaN,NaN,2.0,2.0,NaN,6.0,7.0,10.0,1.000000
2,Vegetais e Produtos Hortícolas,Couve repolho,Euro/100 kg,2019,53.95,Couve-repolho,couve-repolho,Couve-repolho,104.00,3587.063742,...,Prefere clima fresco,2.0,1.0,2.0,NaN,2.0,6.5,7.5,NaN,0.666667
3,Vegetais e Produtos Hortícolas,Tomate,Euro/100 kg,2019,93.15,Tomate,tomate,Tomate,32.00,1298.227412,...,NaN,2.0,NaN,NaN,2.0,2.0,6.0,6.8,6.0,1.000000
4,Vegetais e Produtos Hortícolas,Cenoura,Euro/100 kg,2019,81.82,Cenoura,cenoura,Cenoura,29.20,1001.578582,...,NaN,1.0,NaN,2.0,NaN,NaN,6.0,6.8,10.0,1.000000

In [44]:
# drop unused columns "notas_principais"

df_merged = df_merged.drop(columns=["notas_principais"])
df_merged.head()

,categoria,produtos_agricolas,unidade,Ano,Preco,cultura_x,cultura_norm,Cultura,Superfície,Produção,...,necessidade_hidrica,solo_pref_cat,sol_fotoperiodo_cat,necessidade_hidrica_num,tolerancia_acidez_num,tolerancia_salinidade_num,ph_min,ph_max,sol_min,score_agro
0,Plantas Industriais,Cana-de-açúcar,Euro/100 kg,2019,28.00,Cana-de-açúcar,cana-de-acucar,Cana-de-açúcar,173.54,9814.286187,...,NaN,2.0,3.0,NaN,1.0,NaN,6.0,7.5,8.0,1.000000
1,Vegetais e Produtos Hortícolas,Alface,Euro/100 kg,2019,95.87,Alface,alface,Alface,49.05,1494.835047,...,moderada,NaN,NaN,2.0,2.0,NaN,6.0,7.0,10.0,1.000000
2,Vegetais e Produtos Hortícolas,Couve repolho,Euro/100 kg,2019,53.95,Couve-repolho,couve-repolho,Couve-repolho,104.00,3587.063742,...,moderada,2.0,1.0,2.0,NaN,2.0,6.5,7.5,NaN,0.666667
3,Vegetais e Produtos Hortícolas,Tomate,Euro/100 kg,2019,93.15,Tomate,tomate,Tomate,32.00,1298.227412,...,NaN,2.0,NaN,NaN,2.0,2.0,6.0,6.8,6.0,1.000000
4,Vegetais e Produtos Hortícolas,Cenoura,Euro/100 kg,2019,81.82,Cenoura,cenoura,Cenoura,29.20,1001.578582,...,moderada,1.0,NaN,2.0,NaN,NaN,6.0,6.8,10.0,1.000000

In [45]:
df_merged.head()

,categoria,produtos_agricolas,unidade,Ano,Preco,cultura_x,cultura_norm,Cultura,Superfície,Produção,...,necessidade_hidrica,solo_pref_cat,sol_fotoperiodo_cat,necessidade_hidrica_num,tolerancia_acidez_num,tolerancia_salinidade_num,ph_min,ph_max,sol_min,score_agro
0,Plantas Industriais,Cana-de-açúcar,Euro/100 kg,2019,28.00,Cana-de-açúcar,cana-de-acucar,Cana-de-açúcar,173.54,9814.286187,...,NaN,2.0,3.0,NaN,1.0,NaN,6.0,7.5,8.0,1.000000
1,Vegetais e Produtos Hortícolas,Alface,Euro/100 kg,2019,95.87,Alface,alface,Alface,49.05,1494.835047,...,moderada,NaN,NaN,2.0,2.0,NaN,6.0,7.0,10.0,1.000000
2,Vegetais e Produtos Hortícolas,Couve repolho,Euro/100 kg,2019,53.95,Couve-repolho,couve-repolho,Couve-repolho,104.00,3587.063742,...,moderada,2.0,1.0,2.0,NaN,2.0,6.5,7.5,NaN,0.666667
3,Vegetais e Produtos Hortícolas,Tomate,Euro/100 kg,2019,93.15,Tomate,tomate,Tomate,32.00,1298.227412,...,NaN,2.0,NaN,NaN,2.0,2.0,6.0,6.8,6.0,1.000000
4,Vegetais e Produtos Hortícolas,Cenoura,Euro/100 kg,2019,81.82,Cenoura,cenoura,Cenoura,29.20,1001.578582,...,moderada,1.0,NaN,2.0,NaN,NaN,6.0,6.8,10.0,1.000000

In [46]:
df_merged.isna().sum()

categoria                     0
produtos_agricolas            0
unidade                       0
Ano                           0
Preco                         1
cultura_x                     0
cultura_norm                  0
Cultura                       0
Superfície                    0
Produção                      3
cultura_y                     0
cultura                       0
nome_científico               0
família                       0
germinacao_Tmin              17
germinacao_Totima             6
germincacao_Tmáxima          12
vegetacao_Tmin                0
vegetacao_Toptima             0
vegetacao_Tmax                0
tolerancia_salinidade        59
intervalo_otimp_pH            0
tolerancia_acidez            36
solo_preferido                0
sol_fotoperíodo               0
clima_ideal _°C               0
necessidade_hidrica          30
solo_pref_cat                18
sol_fotoperiodo_cat          36
necessidade_hidrica_num      30
tolerancia_acidez_num        36
tolerancia_salinidade_num    59
ph_min                        0
ph_max                        0
sol_min                       6
score_agro                    0
dtype: int64

In [47]:
df_merged.shape

(125, 36)

In [48]:
df_merged.value_counts("sol_min")

sol_min
6.0     59
8.0     36
10.0    18
12.0     6
Name: count, dtype: int64

### Preparing a clean dataset for tableau

In [50]:
# Selecionar colunas chave + variáveis técnicas
df_tableau = df_merged[[
    "cultura_norm",
    "Ano",
    "Preco",
    "Superfície",
    "Produção",  
    "score_agro",
    "unidade",
    "categoria",
    # variáveis técnicas
    "solo_pref_cat",
    "sol_fotoperiodo_cat",
    "necessidade_hidrica_num",
    "tolerancia_acidez_num",
    "tolerancia_salinidade_num",
    "ph_min",
    "ph_max",
    "sol_min"
]].copy()

# Renomear colunas
df_tableau = df_tableau.rename(columns={
    "cultura_norm": "Cultura",
    "Ano_y": "Ano",
    "Superfície": "Superficie",
    "Produção": "Producao"
})

# Filtrar só 2019–2024
df_tableau = df_tableau[df_tableau["Ano"].between(2019, 2024)]

print(df_tableau.head())
print(df_tableau.shape)

          Cultura   Ano  Preco  Superficie     Producao  score_agro  \
0  cana-de-acucar  2019  28.00      173.54  9814.286187    1.000000
1          alface  2019  95.87       49.05  1494.835047    1.000000
2   couve-repolho  2019  53.95      104.00  3587.063742    0.666667
3          tomate  2019  93.15       32.00  1298.227412    1.000000
4         cenoura  2019  81.82       29.20  1001.578582    1.000000

       unidade                       categoria  solo_pref_cat  \
0  Euro/100 kg             Plantas Industriais            2.0
1  Euro/100 kg  Vegetais e Produtos Hortícolas            NaN
2  Euro/100 kg  Vegetais e Produtos Hortícolas            2.0
3  Euro/100 kg  Vegetais e Produtos Hortícolas            2.0
4  Euro/100 kg  Vegetais e Produtos Hortícolas            1.0

   sol_fotoperiodo_cat  necessidade_hidrica_num  tolerancia_acidez_num  \
0                  3.0                      NaN                    1.0
1                  NaN                      2.0                    2.0
2                  1.0                      2.0                    NaN
3                  NaN                      NaN                    2.0
4                  NaN                      2.0                    NaN

   tolerancia_salinidade_num  ph_min  ph_max  sol_min
0                        NaN     6.0     7.5      8.0
1                        NaN     6.0     7.0     10.0
2                        2.0     6.5     7.5      NaN
3                        2.0     6.0     6.8      6.0
4                        NaN     6.0     6.8     10.0
(125, 16)

In [51]:
df_tableau.to_excel(r"C:\Users\sofia\Documents\Data_Analytics_Ironhack\Projects\ironhack_final_project\Worked_datasets\dataset_tableau.xlsx", index=False)